* {
  white-space: -moz-pre-wrap;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: sofia-pro;
}

body {
  position: relative;
  width: 100%;
  background-color: #0A0B18;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}